@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
*{
    font-family:'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
  }
  body{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
  }
  header{
    background-color: #000;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 3.5rem;
    color: white;
    font-family: 'Merriweather', serif;
    font-style: oblique;
    text-shadow: 0 0 30px #2D64E6;
  }
  .icons{
    font-size: 3.5rem;
    cursor: pointer;
    margin: 15px;
    color: #2D64E6;
  }
  .img-header {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
  }
.fa{
    font-size: 6rem;
    cursor: pointer;
    color: #9C0A00;
}
nav{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
}
#counter-label{
  font-size: 2rem;
  color: black;
}

select {
  width: 13.5rem;
  height: 3rem;  
  box-shadow: 0 0 15px dodgerblue;
  border-radius: 15px;
  color:black;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
}
#compras{
  display: flex;
  width:30px;
}

#btn-create{
  margin-top: 1.5rem;
  border: none;
}

main {
    background-color: transparent;
    width: 100vw;
    /* margin-left: 8rem; */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 4rem;
}
.card-product {
    background: #ffffff00;
    height: 35%;
    width: 20%;
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
}
.img-product {
    width: 100%;
    height: 50%;
    border-radius: 30px;
    box-shadow: 0 0.3rem 0.3rem #000000;
    transition: 0.5s;
    object-fit: cover;

}
.img-product:hover{
  transform: scale(1.2);
}
.name-product {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 3rem;
    font-family: 'Century Gothic';
}  
.price-product {
    color: black;
    font-size: 15px;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Century Gothic' bold;
  }
  
.btn-add {
    width: 5rem;
    height: 2.8rem;
    border:none;
    font-family: 'arial', sans-serif;
    background-color: #2D64E6;
    border-radius:20px;
    color: white;
    font-size: 1rem;
    /* margin-left: 7rem; */
    margin-top: 1rem;
    text-transform: uppercase;
  }
  
.btn-add:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #c0c0c0 0%, #000000 100%);
    color: #f4f4f4;
  }
  
  .container-products {
    width: 80%;
    height: auto;
  }
  
  #btn-create {
    width: 18rem;
    height: 3rem;  
    border-radius: 15px;
    box-shadow: 0 0 15px dodgerblue;
    color: black;
    font-size: 1.5rem;  
    cursor: pointer;
  }
  
  #btn-create:hover,
  #btn-create:focus {
    background-color: #1135ea;
    font-weight: 900;
    color: #ffff;
  }
  
  /* CREAR UN NUEVO PRODUCTO */

  .modal {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;  
    z-index: 1;
    display: none;
    margin-left: 30rem;
    margin-top: 4rem;
    background: #f4f4f4;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
  }
  
  .modal > input {
    width: 17rem;
    padding: 15px 15px 50px 50px;
    font-size: 16px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .5s linear;
    font-size: 1.5rem;
  }
  
  .modal > input:focus {
    border-color: dodgerblue;
    box-shadow:0 0 8px 0 dodgerblue;
  }
  
  .modal input[type="file"] {
    width: 17rem;
    height: 3rem;
    border-radius: 5px;  
    color: #ffff;
    font-size: 1rem;  
    padding-top: 10px;
  }
  
  .modal > button {
    width: 12rem;
    height: 2rem;
    border-radius: 15px;
    background-color: #28930b;
    color: #ffff00;
    font-size: 1rem;  
    cursor: pointer;  
  }
  
  .modal > button:hover,
  .modal > button:focus {
    background-color: #167d70;
    font-weight: 900;
    color: #ffff;
  }
  
  #close-modal {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #28930b;
    color: #ffff00;
    font-size: 1rem;  
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .activate{
    visibility: visible;
}

/* CONTENEDOR CARDS "CARRITO" */

.card{
  width: 34rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 2%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 0.7rem;
  border-radius: 2%;
}

.cardContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 13rem;
  justify-content: space-evenly;
}

.price{
  color: #9C0A00;
  font-size: 1.3rem;
  text-align: start;
  width: 100%;
}
.card img {
  width: 45%;
  height: 85%;
  border-radius: 30px;
  box-shadow: 0 0.3rem 0.3rem #000000;
}
.quantityNumber{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.numberQuantity{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: baseline;
}
.circle{
  background: #9C0A00;
  color: #fff;
  width: 30%;
  text-align: center;
  border-radius: 150px;
  cursor: pointer;
}

.circle:hover{
  background: #f4f4f4;
  color: #000;
  border: #000 2px solid;
  font-weight: bold;
}

.delete{
  order: 1;
  align-self: flex-start;
  background: #9C0A00;
  color: black;
  width: 33px;
  height: 33px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 9px;
  font-weight: bold;
  cursor: pointer;
} 

.delete:hover{
  background: black;
  color: white;
}
.overlay{
background: rgba(0, 0, 0,.3);
position: fixed;
top:0;
bottom: 0;
right: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
visibility: hidden; 
}
.popup{
  background: #f4f4f4;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2%;
  position: absolute;
  top: 2%;
  padding: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 88%;
  width: 50%;
  opacity: 0; 
  transform: scale(0);
  transition: .4s ease all;
  z-index: 0;
}
h3{
  color:#9C0A00;
  font-family: 'Merriweather', serif;
  font-style: oblique;
}

.btn-close-popup{
  font-size: 1.5rem;
  color:#9C0A00;
  transition: .3s ease all;
  position: relative;
  left: 48%;
}

.btn-close-popup:hover{
  color: #000;
}

.shoppingCart{
  font-size: 36px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  gap: 3%;
  justify-content: center;
  align-items: baseline;
}

.information{
  font-style: oblique;
  font-weight: bold;
}


/*animations*/

.popup.activate{
  opacity: 1;
  transform: scale(1);
}

.shoppingCart-container{
  overflow: hidden;
  overflow-y: auto;
}

.shoppingCart-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.shoppingCart-container::-webkit-scrollbar:vertical {
  width:8px;
}


.shoppingCart-container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}
#cart{
  font-size: 3rem;
  cursor: pointer;
  color: black;
}